@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron p-3 d-flex align-items-center">
    <h1 class="display-4 flex-grow-1">Continents</h1>
</div>

<div class="d-flex bg-primary text-white">
    <div class="p-2" style="flex:0 0 10%">
        Code
    </div>
    <div class="p-2" style="flex:1 0 auto">
        Name
    </div>
</div>

@foreach (var item in Model.Continents!)
{
    <div class="d-flex border-left border-right border-bottom border-primary">
        <div class="p-2" style="flex:0 0 10%">
            @item.ID
        </div>
        <div class="p-2" style="flex:1 0 auto">
            @item.Name
        </div>
    </div>
}

<div class="jumbotron p-3 d-flex align-items-center">
    <h1 class="display-4 flex-grow-1">Countries</h1>
</div>

<div class="d-flex bg-primary text-white">
    <div class="p-2" style="flex:0 0 10%">
        Cont
    </div>
    <div class="p-2" style="flex:0 0 10%">
        Code
    </div>
    <div class="p-2" style="flex:1 0 auto">
        Name
    </div>
    <div class="p-2" style="flex:0 0 15%">
        Population
    </div>
    <div class="p-2" style="flex:0 0 10%">
        Area
    </div>
    <div class="p-2" style="flex:0 0 20%">
        UN Data
    </div>
</div>

@foreach (var item in Model.Countries!)
{
    <div class="d-flex border-left border-right border-bottom border-primary">
        <div class="p-2" style="flex:0 0 10%">
            @item.ContinentID
        </div>
        <div class="p-2" style="flex:0 0 10%">
            @item.ID
        </div>
        <div class="p-2" style="flex:1 0 auto">
            @item.Name
        </div>
        <div class="p-2" style="flex:0 0 15%">
            @item.Population
        </div>
        <div class="p-2" style="flex:0 0 10%">
            @item.Area
        </div>
        <div class="p-2" style="flex:0 0 20%">
            @item.UnitedNationsDate
        </div>
    </div>
}
